/******* Colors *******/

$lt-grn: #6aee53;
$med-grn: #0cc449;
$drk-grn: #28b485;
$lt-orng: #ffb900;
$drk-orng: #ff7730;
$lt-blu: #2e6ffa;
$lt-blu-1: #5285f1;
$drk-blu: #1c08ce;
$lt-gry: #777;
$lt-gry-1: #f7f7f7;
$lt-gry-2: #eee;
$drk-gry: #333;
$wht: #fff;
$blk: #000;
